/* Color Palette */
:root {
  --dark-red: #A31621;
  --light-cream: #FCF7F8;
  --grayish-blue: #CED3DC;
  --steel-blue: #4E8098;
  --light-blue: #90C2E7;
}

body {
  background-color: var(--light-cream);
  color: var(--steel-blue);
  font-family: Arial, sans-serif;
}

.container {
  width: 80%;
  margin: 30px auto;
  padding: 40px;
  background-color: var(--light-cream);
  border: 1px solid var(--grayish-blue);
  border-radius: 10px;
  color: var(--steel-blue);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: var(--dark-red);
  font-family: 'Cinzel', serif;
}

.selection_container {
  width: 100%;
}

.select_movie_component {
  flex-grow: 1;
}

.BN-btn {
  padding: 15px 30px;
  border: none;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--light-cream);
  background-color: var(--dark-red);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.BN-btn:hover {
  background-color: var(--steel-blue);
  color: var(--light-cream);
}

.wrapper {
  display: flex;
  flex-grow: 0;
  overflow: visible;
}

.time_seats_container {
  position: relative;
  overflow: auto;
  top: -10px;
}

@media screen and (max-width: 1300px) {
  .wrapper {
    flex-direction: column-reverse;
  }

  .time_seats_container {
    top: 0px;
  }

  .last_booking_details_container {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 500px) {
  .container {
    width: 90%;
    padding: 20px;
  }

  .SM_main_container {
    display: grid;
  }

  .TS_main_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
